<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:replace="~{modules/head :: head(${singlePage.spec.title})}"></head>
<body>
<div id="tc-page">
<div class="container-narrow">
  <header th:replace="~{modules/header :: header}"></header>

  <div class="page-head">
    <div class="breadcrumb">
      <a th:href="@{/}">首页</a>
    </div>
    <div class="page-title" th:text="${singlePage.spec.title}">页面标题</div>
  </div>

  <div class="post-body post-body--page">
    <article class="post-content" th:utext="${singlePage.content.content}"></article>
  </div>

  <section class="post-comment" th:if="${site.comment.enable and singlePage.spec.allowComment}" style="padding:20px 0 40px;">
    <halo:comment kind="SinglePage" th:attr="name=${singlePage.metadata.name},group=content.halo.run"></halo:comment>
  </section>

  <footer th:replace="~{modules/footer :: footer}"></footer>
</div>
</div>
<th:block th:replace="~{modules/footer :: scripts}"></th:block>
</body>
</html>
